
/* Estilos Globais */

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body {
  font-family: 'Arial', sans-serif;
  background-color: #0D1526;
  color: #fff;
}

/* Navbar Globais */
a.nav-link {
  color: #fff;
}
a.nav-link:hover {
  color: #F25244;
}
a.nav-link:active {
  color: #F25244;
}
a.nav-link:active {
  font-weight: bold;
}

/* Navbar Top */
.navbar-top {
  background-color: #F2B441;
}
/* Navbar Bottom */
.navbar-bottom {
  background-color: #F2B441;
}

/* Estilos do Banner */
.banner {
  height: 100vh;
  background: url('https://foxesportes.netlify.app/images/logo3.png') no-repeat right;
  animation: backgroundMove;
  animation-duration: 4s;
}

/* Animação do Banner */
@keyframes backgroundMove {
  from {
    background-position: 65% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.animate {
  animation: fadeIn 2.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.text-container span {
	font-size: 3.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.welcome {
	color: #F2B441; /* Dourado */
}

.fox {
	color: #3772A6; /* Azul */
}

.highlight {
	background: #F2B441; /* Dourado */
	color: #121212;
	padding: 5px 15px;
	border-radius: 5px;
}

/* Seção de Serviços */
.card {
  background-color: #F2B441;
  color: #0D1526;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.card h6 {
  color: #0D1526;
}
