
/* Estilos Globais */
body {
  font-family: 'Arial', sans-serif;
  background-color: #0D1526;
  color: #fff;
}

/* Navbar Globais */

a.navbar-brand img {
  margin-right: 10px;
}
a.nav-link {
  color: #fff;
}
a.nav-link:hover {
  color: #fff;
}

/* Navbar Top */
.navbar-top {
  background-color: #0D1526;
}
/* Navbar Bottom */
.navbar-bottom {
  background-color: #F25244;
}

/* Estilos do Banner */
.banner {
  height: 100vh;
  background: url('https://foxesportes.netlify.app/images/logo3.png') no-repeat right;
  animation: backgroundMove;
  animation-duration: 5s;
}

/* Animação do Banner */
@keyframes backgroundMove {
  from {
    background-position: 0% 25%;
  }
  to {
    background-position: 100% 50%;
  }
}

.animate {
  animation: fadeIn 2.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Seção de Serviços */
.card {
  background-color: #F2522E;
  border: none;
  color: #fff;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
